<div class="modal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-icon lg-icon-cross-small lg-l-float" ng-click="closeModal()"></button>
        </div>
        <h1 class="title" style="color: white;">Add Interest</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.confirm(vm)">Done</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="padding ptl fd-m-align">
<!--             <div class="lg-text-area" contenteditable="true" placeholder="Add #tags to your goal ..."></div> -->
                    <div class="add-interest ft-14 ptm pbm lg-br-btm lg-thin-br">
                        <a on-touch="removeHashTag($event)" data-index="{{$index}}"" class="hash-tag lg-vm-align" ng-repeat="hashtag in $root.hashtags">{{hashtag}}</a>
                        <span class="button button-small button-clear lg-vm-align" style="color: rgba(39, 62, 84, 0.82);" contenteditable ng-keypress="keypress($event)" ng-focus="focus($event)" ng-blur="blur($event)" ng-keydown="keydown($event)">Add #tags to your goal ...</span>
                    </div>

            <div class="pal fd-l-align">
                <div class="ptl">
                    <div class="fd-m-align ptm pbm">Popular Tags</div>
                    <span class="fd-chips {{featTagsClass[0]}}">#Alpha</span>
                    <span class="fd-chips {{featTagsClass[1]}}">#Bravo</span>
                    <span class="fd-chips {{featTagsClass[2]}}">#Charlie</span>
                </div>
            </div>
        </div>
    </ion-content>
</div>