<ion-view view-title="Share Food!" hide-back-button="true">
    <ion-nav-buttons side="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon" style="color: white;" ng-click="creatPost()">Create</button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div style="width: 100%; height: 240px;">
            <img ng-src="{{imageData}}" class="fd-img" style="z-index:10">
            <div ng-if="isloading" class="loader" style="height:20px; width:20px; z-index: 1000;margin-top: -135px;    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;">
            </div>
            <div ng-if="isloading" style="margin-left:auto;margin-right:auto; z-index:1000; text-align:center;">{{loadedvalue}} %</div>
        </div>
        <div style="width: 90%; height: 100px; position: relative; border-bottom-style: solid; border-bottom-width: thin; border-bottom-color:  rgba(0,0,0,0.3) ; margin-left: 5%; margin-top: 10px;">
            <div style="position: absolute; width: 80px; height: 80px; padding: 10px;">
                <img src="img/John_Doe.jpg" class="fd-img fd-img-br">
            </div>
            <div style="position: absolute; left: 30%; width: 70%; padding-top: 30px;">
                <textarea style="width: 100%; height: 65px;" placeholder="Write your review here!" ng-model="final_obj.remark"></textarea>
            </div>
        </div>
        <div on-tap="selectCategoryOption()" class="ptm plm prm pbm" style="margin-left: 5%;width: 90%;border-bottom-style: solid; border-bottom-width: thin; border-bottom-color:  rgba(0,0,0,0.1) ;">
            <p><b><i class="ion-pound"></i><span ng-if="!hashtags" class="plm">Add Tags</span><span ng-if="hashtags" class="fd-chips" ng-repeat="tag in hashtags" style="margin: 0px 0px 0px 10px;">{{tag.desc || tag }} <span ng-click="removeTags($index)"><i class="ion-close"></i></span> </span></b></p>
        </div>
        <div on-tap="selectLocation()" class="ptm plm prm pbm" style="margin-left: 5%;width: 90%;border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: rgba(0,0,0,0.1) ;">
            <p><b><i class="ion-ios-location"></i><span class="plm">{{final_obj.loc_name}}</span></b></p>
        </div>
        <div on-tap="selectCategory()" class="ptm plm prm pbm" style="margin-left: 5%;width: 90%;border-bottom-style: solid; border-bottom-width: thin; border-bottom-color:  rgba(0,0,0,0.1) ;">
            <p><b><i class="ion-ios-pricetags"></i><span class="plm">{{final_obj.category}}</span></b></p>
        </div>
        <div class="pts plm prm pbs" style="margin-left: 5%;width: 90%;border-bottom-style: solid; border-bottom-width: thin; border-bottom-color: rgba(0,0,0,0.1) ;">
            <p><b><i class="ion-cash"></i><span class="plm"><input type="number" name="" style="display: inline; " placeholder="Add Price" ng-model="final_obj.price"></span></b></p>
        </div>
    </ion-content>
</ion-view>
