<ion-view title="Dashboard" hide-nav-bar="true" id="page10" style="background-color:#D0F6AB;" class=" ">
    <ion-content padding="true" style="background: url(img/1T2RKHUhT4wRM5uiiYTt_blurry-background-vii_00438789.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <h1 id="dashboard-heading8" style="color:#FFFFFF;" class=" ">Dashboard</h1>
        <div class="item item-body " id="dashboard-list-item-container1">
            <p id="dashboard-markdown15" style="margin-top:0px;color:#000000;" class=" ">Welcome To GrabBite</p>
        </div>
    </ion-content>
</ion-view>