<ion-view title="Food Monger" hide-back-button="true">
    <ion-nav-buttons side="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-ios-search-strong" style="color: white;"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header fd-bg">
        <div style="width: 100%; position: relative;  background-color: rgba(255,255,255, 0.96);">
            <div style="width: 100%; height: 200px;">
                <img ng-src="{{x.src}}" class="fd-img">
            </div>
            <div class="pll prm pts pbm">
                <a ui-sref="sidemenu.foodprofile">
                    <p class="ft-18 ptx"><b>{{x.name}}</b></p>
                </a>
                <p class="pts"><i class="ion-soup-can-outline"></i><span class="plx">Dessert</span> <i class="ion-clock plm"></i><span class="plx">16 Min</span><i class="ion-ios-location plm"></i><span class="plx">Bar-b-q Tonight</span></p>
            </div>
            <div class="pll ptm pbm ft-24 border-style-top border-style-bottom">
                <p><i class="ion-ios-chatboxes-outline"></i><span class="plm ft-18">Comment</span>
                    <i class="ion-android-favorite-outline pll"></i><span class="plm ft-18">Like</span><i class="ion-share pll"></i><span class="plm ft-18">Share</span></p>
            </div>
            <div style="position: absolute; top: 100px; background-color: #ee3255; color: white; right: 0px; font-size: 32px;height: 40px;padding-top: 8px; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;">
                {{x.price}}
            </div>
        </div>
        <div class="list" style="background-color: rgba(255,255,255, 0.8);">
            <div class="item item-avatar no-border comment" ng-repeat="comment in comments" style="background-color: rgba(255,255,255, 0.8);">
                <img class="user-thumb" ng-src="{{comment.user_src}}" />
                <div class="txt-book ft-14 bl-txt comment-area"><a class="lg-gen"><b>{{comment.user_name}} </b></a><span class="txt-reg ft-14 dg-txt" ng-bind-html="comment.comment"></span></div>
                <div class="time-loc mts ft-12 dg-txt">{{comment.created}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
