<ion-view title="Food Monger" hide-back-button="true">
    <ion-nav-buttons side="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-ios-search-strong" style="color: white;"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer fd-bg">
        <div style="width: 100%; position: relative;  background-color: rgba(255,255,255, 0.96);">
            <div style="width: 100%; height: 200px;">
                <img ng-src="{{post.media[0].medium}}" class="fd-img">
            </div>
            <div class="pll prm pts pbm">
                <a ui-sref="sidemenu.foodprofile">
                    <p class="ft-18 ptx"><b>{{post.remark}}</b></p>
                </a>
                <p class="pts"><span class="prs" ng-repeat="tag in post.tag">{{tag}}</span></p>
                <p class="pts"><i ng-if="post.category != 'Select Category'" class="ion-soup-can-outline"></i><span ng-if="post.category != 'Select Category'" class="plx prs">{{post.category}}</span> <i class="ion-clock"></i><span class="plx prs" readable-time-filter time="conversation.createdTime" converted="readabletime">16 Min</span><i class="ion-ios-location"></i><span class="plx">{{post.loc_name}}</span></p>
            </div>
            <div class="pll ptm pbm ft-24 border-style-top border-style-bottom">
                <p><i class="ion-ios-chatboxes-outline"></i><span class="plm ft-18">Comment</span>
                    <i class="ion-android-favorite-outline pll"></i><span class="plm ft-18">Like</span><i class="ion-share pll"></i><span class="plm ft-18">Share</span></p>
            </div>
            <div style="position: absolute; top: 100px; background-color: #ee3255; color: white; right: 0px; font-size: 32px;height: 40px;padding-top: 8px; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;">$ {{post.price}}
            </div>
        </div>
        <div class="list" style="background-color: rgba(255,255,255, 0.8);">
            <div class="item item-avatar no-border comment" ng-repeat="comment in comments" style="background-color: rgba(255,255,255, 0.8);">
                <img class="user-thumb" ng-src="{{comment.user.media[0].small}}" />
                <div ng-click="showConfirm(comment._id)" class="ft-10" style="float:right"><i class="ion-close"></i>
                </div>
                <div class="txt-book ft-14 bl-txt comment-area" style="width:95%;"><a class="lg-gen"><b>{{comment.user.name}} </b></a><span class="txt-reg ft-14 dg-txt" ng-bind-html="comment.text"></span></div>
                
                <div class="time-loc mts ft-12 dg-txt">{{comment.created | readableTime }}</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="custom-fd-bar fd-br-top sb-bg">
        <div style="width:100%;">
            <textarea placeholder="Type your comment" style="width:95%;    padding: 12px 0px 0px 5px;" row="1" ng-model="params.text"></textarea>
        </div>
        <div on-tap="comment()" style="float: right; padding-top:5px; padding-right:10px;" class="ft-32">
            <i class="ion-android-send"></i>
        </div>
    </ion-footer-bar>
</ion-view>
