<ion-view title="Login" hide-nav-bar="true" id="page1" style="background-color:#D0F6AB;" class=" ">
    <ion-content padding="true" style="background: url(img/1T2RKHUhT4wRM5uiiYTt_blurry-background-vii_00438789.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/zypVioHTReBwH9gvE67c_watermelon4.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form4" class="list ">
            <label class="item item-input " id="login-input3">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="login-input5">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a href="tel:" id="login-button2" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">Login</a>
        <p id="login-markdown1" style="color:#000000;text-align:center;" class=" ">You can also login with</p>
        <div id="login-button-bar2" class=" button-bar ">
            <button id="login-button10" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon ion-social-facebook-outline "></button>
            <button id="login-button11" class=" button button-assertive  button-block icon ion-social-googleplus "></button>
            <button id="login-button12" class=" button button-calm  button-block icon ion-social-twitter-outline "></button>
        </div>
        <p id="login-markdown3" style="color:#000000;font-size:15px;text-align:center;" class=" ">Don't Have an account yet?</p>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <button id="login-button13" style="color:#000000;" class=" button button-light  button-block ">Sign Up</button>
    </ion-content>
</ion-view>