<div class="modal">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon lg-icon-cross-small lg-l-float" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">Location</h1>
        <div class="buttons">
            <button class="button button-clear lg-l-float" ng-click="vm.confirm(vm)">Done</button>
        </div>
    </ion-header-bar>
    <ion-content>
       <!-- <div class="phl">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box" ng-model="vm.location.formatted_address">
            <!--  <ion-google-place placeholder="Your address" ng-model="data.address" required name="address" current-location="true" location-changed="locationChanged" />
        </div> -->
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="searchInput" type="text" placeholder="Search" ng-model="query" ng-change="search()">
                </label>
            </div>
        </div>
       <!--  <div id="map"></div> -->
    </ion-content>
</div>
