<ion-view title="Food Monger" hide-back-button="true">
    <ion-nav-buttons side="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-ios-search-strong" style="color: white;"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer fd-bg">
        <div class="profile-image">
            <img ng-src="{{user.media[0].medium}}" class="fd-img fd-img-br  border-style border-wd-m">
        </div>
        <div>
            Change Profile Picture!
        </div>
        <div class="ptl pll prl pbl">
            <form id="signUp-form6" class="list ">
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Enter here!" style="color: black; padding-right: 0px;" ng-model="user.name">
                </label>
                <label class="item item-input " id="signUp-input8">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Enter here!" style="color: black; padding-right: 0px;" ng-model="user.email">
                </label>
                <label class="item item-input " id="signUp-input7">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter here!" style="color: black; padding-right: 0px;" ng-model="user.password">
                </label>
                <label class="item item-input " id="signUp-input7">
                    <span class="input-label">Mobile No:</span>
                    <input type="number" placeholder="Enter here!" style="color: black; padding-right: 0px;" ng-model="user.mobile_no">
                </label>
                <label class="item item-input " id="signUp-input7">
                    <span class="input-label">D.O.B</span>
                    <span ng-click="openDatePicker()" on-tap="openDatePicker()"> {{user.date_of_birth}} </span>
                    <!--  <input type="password" placeholder="Enter here!" style="color: black; padding-right: 0px;"> -->
                </label>
            </form>
        </div>
    </ion-content>
</ion-view>
