<ion-view title="Process" hide-nav-bar="true" id="page5" style="background-color:#F4F5ED;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/zypVioHTReBwH9gvE67c_watermelon4.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="process-markdown16" style="color:#000000;text-align:center;" class=" ">1/4</p>
        <p id="process-markdown6" style="color:#000000;" class=" ">What categories of food would you like to know about?</p>
        <form id="process-form8" class="list ">
            <ion-checkbox>Fruits</ion-checkbox>
            <ion-checkbox>Drinks</ion-checkbox>
            <ion-checkbox>Dairy</ion-checkbox>
            <ion-checkbox>Grocery</ion-checkbox>
            <ion-checkbox>Snacks</ion-checkbox>
            <ion-checkbox>Deals</ion-checkbox>
        </form>
        <a href="tel:" id="process-button19" style="font-weight:600;font-size:20px;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block " ui-sref="process1" >Next</a>
    </ion-content>
</ion-view>