<ion-view title="Process3" hide-nav-bar="true" id="page8" style="background-color:#F4F5ED;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding fd-bg">
        <form id="process3-form12" class="list ">
            <!--             <h1 id="process3-heading3" style="color:#FF4242;text-align:center;" class=" ">Grab-a-Bite</h1> -->
            <div class="ft-24" style="color: #ff6f29; text-align: center; margin-top: 50px;">
                <b>Food Monger</b>
            </div>
            <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->
            <p id="process3-markdown18" style="color:pink;text-align:center;" class=" ">4/4</p>
            <p id="process3-markdown10" style="color:#fff;font-size:16px;" class="ptl">Just how far would you go for a meal?</p>
            <div class="ptl">
                <ion-radio ng-repeat="item in clientSideList3" ng-value="item.value" ng-model="data3.clientSide">
                    {{ item.text }}
                </ion-radio>
            </div>
        </form>
        <div on-tap="submit3()">
            <div style="color: white; background-color: #ff6f29; ">
                <p class="ptm pbm ft-14" style="text-align: center;"><b>Next</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>
