<ion-view title="Process1">
    <ion-content padding="true" class="manual-ios-statusbar-padding fd-bg">
        <form id="process1-form10" class="list ">
            <!--             <h1 id="process1-heading1" style="color:#FF4242;text-align:center;" class=" ">Grab-a-Bite</h1> -->
            <div class="ft-24" style="color: #ff6f29; text-align: center; margin-top: 50px;">
                <b>Food Monger</b>
            </div>
            <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->
            <p id="process1-markdown17" style="color:pink;text-align:center;" class=" ">2/4</p>
            <p class="ptl" id="process1-markdown8" style="color:white;font-size:16px;" class=" ">How often do you step out to eat?</p>
            <div class="ptl">
                <ion-radio ng-repeat="item in clientSideList" ng-value="item.value" ng-model="data.clientSide">
                    {{ item.text }}
                </ion-radio>
            </div>
        </form>
        <div class="prl pll" on-tap="submit()">
            <div style="color: white; background-color: #ff6f29; ">
                <p class="ptm pbm ft-14" style="text-align: center;"><b>Next</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>
