<ion-view title="Process2" hide-nav-bar="true" id="page7" style="background-color:#F4F5ED;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding fd-bg">
        <form id="process2-form11" class="list ">
            <!--             <h1 id="process2-heading2" style="color:#FF4242;text-align:center;" class=" ">Grab-a-Bite</h1> -->
            <div class="ft-24" style="color: #ff6f29; text-align: center; margin-top: 50px;">
                <b>Food Monger</b>
            </div>
            <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->
            <p id="process2-markdown13" style="color:pink;text-align:center;" class=" ">3/4</p>
            <p id="process2-markdown9" style="color:white;font-size:16px;" class="ptl">How often do you shop for grocery?</p>
            <div class="ptl">
                <ion-radio ng-repeat="item in clientSideList2" ng-value="item.value" ng-model="data2.clientSide">
                    {{ item.text }}
                </ion-radio>
            </div>
        </form>
        <div on-tap="submit2()">
            <div style="color: white; background-color: #ff6f29; ">
                <p class="ptm pbm ft-14" style="text-align: center;"><b>Next</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>
