<ion-view title="Process3" hide-nav-bar="true" id="page8" style="background-color:#F4F5ED;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding fd-bg">
        <form id="process3-form12" class="list ">
<!--             <h1 id="process3-heading3" style="color:#FF4242;text-align:center;" class=" ">Grab-a-Bite</h1> -->
        <div class="ptl">
            <img src="img/logo.png" height="30px" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="ft-24" style="color: red; text-align: center;">
        <b>Grab-a-Bite!</b>
        </div>
        <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->

            <p id="process3-markdown18" style="color:pink;text-align:center;" class=" ">4/4</p>
            <p id="process3-markdown10" style="color:#fff;font-size:16px;" class="ptl">Just how far would you go for a meal?</p>
            <div class="ptl">
            <ion-radio id="process3-radio12" class=" ">To the end of block</ion-radio>
            <ion-radio id="process3-radio13" class=" ">0.25 Miles</ion-radio>
            <ion-radio id="process3-radio14" class=" ">0.5 - 1 Miles</ion-radio>
            <ion-radio id="process3-radio15" class=" ">1 - 2.5 Miles</ion-radio>
            <ion-radio id="process3-radio16" class=" ">2.5 - 5 Miles</ion-radio>
            </div>
        </form>
        <a href="tel:" id="process3-button22" style="font-weight:600;font-size:20px;border-radius:0px 0px 0px 0px; color: white;" class=" button  button-block profile-bg" ui-sref="sidemenu.dashboard" >Next</a>
    </ion-content>
</ion-view>