<ion-view title="Process2" hide-nav-bar="true" id="page7" style="background-color:#D0F6AB;" class=" ">
    <ion-content padding="true" style="background: url(img/1T2RKHUhT4wRM5uiiYTt_blurry-background-vii_00438789.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <form id="process2-form11" class="list ">
            <h1 id="process2-heading2" style="color:#FFFFFF;text-align:center;" class=" ">GrabBite</h1>
            <p id="process2-markdown9" style="color:#000000;font-size:20px;" class=" ">How often do you do Grocery?</p>
            <ion-radio id="process2-radio7" class=" ">Daily</ion-radio>
            <ion-radio id="process2-radio8" class=" ">Only on the weekends</ion-radio>
            <ion-radio id="process2-radio9" class=" ">Once or twice a week</ion-radio>
            <ion-radio id="process2-radio10" class=" ">Once or twice a month</ion-radio>
            <ion-radio id="process2-radio11" class=" ">I don't do grocery</ion-radio>
        </form>
        <a href="tel:" id="process2-button21" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">Next</a>
    </ion-content>
</ion-view>