<ion-view title="Process2" hide-nav-bar="true" id="page7" style="background-color:#F4F5ED;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding fd-bg">
        <form id="process2-form11" class="list ">
<!--             <h1 id="process2-heading2" style="color:#FF4242;text-align:center;" class=" ">Grab-a-Bite</h1> -->
        <div class="ptl">
            <img src="img/logo.png" height="30px" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="ft-24" style="color: red; text-align: center;">
        <b>Grab-a-Bite!</b>
        </div>
        <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->
            <p id="process2-markdown13" style="color:pink;text-align:center;" class=" ">3/4</p>
            <p id="process2-markdown9" style="color:white;font-size:16px;" class="ptl">How often do you shop for grocery?</p>
            <div class="ptl">
            <ion-radio id="process2-radio7" class=" ">Daily</ion-radio>
            <ion-radio id="process2-radio8" class=" ">Only on the weekends</ion-radio>
            <ion-radio id="process2-radio9" class=" ">Once or twice a week</ion-radio>
            <ion-radio id="process2-radio10" class=" ">Once or twice a month</ion-radio>
            <ion-radio id="process2-radio11" class=" ">I don't do grocery</ion-radio>
            </div>
        </form>
        <a href="tel:" id="process2-button21" style="font-weight:600;font-size:20px;border-radius:0px 0px 0px 0px; color: white;" class=" button  button-block profile-bg" ui-sref="process3">Next</a>
    </ion-content>
</ion-view>