<ion-view title="Process1" hide-nav-bar="true" id="page6" style="background-color:#D0F6AB;" class=" ">
    <ion-content padding="true" style="background: url(img/1T2RKHUhT4wRM5uiiYTt_blurry-background-vii_00438789.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <form id="process1-form10" class="list ">
            <h1 id="process1-heading1" style="color:#FFFFFF;text-align:center;" class=" ">GrabBite</h1>
            <p id="process1-markdown8" style="color:#000000;font-size:20px;" class=" ">How often do you step out to eat?</p>
            <ion-radio id="process1-radio2" class=" ">Everyday of the Week!!</ion-radio>
            <ion-radio id="process1-radio4" class=" ">Only on the weekends</ion-radio>
            <ion-radio id="process1-radio5" class=" ">Once or twice a week</ion-radio>
            <ion-radio id="process1-radio3" class=" ">Once or twice a month</ion-radio>
            <ion-radio id="process1-radio6" class=" ">Hardly ever</ion-radio>
        </form>
        <a href="tel:" id="process1-button20" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">Next</a>
    </ion-content>
</ion-view>