<ion-view title="Process" hide-nav-bar="true" id="page5" style="background-color:#F4F5ED;" class=" ">
    <ion-content class="fd-bg">
        <!--         <div class="pts">
            <img src="img/logo.png" height="30px" style="display: block; margin-left: auto; margin-right: auto;">
        </div> -->
        <div class="ft-24" style="color: #ff6f29; text-align: center; margin-top: 50px;">
            <b>Food Monger</b>
        </div>
        <!-- <h3 id="welcome-heading9" style="color:red;text-align:center;" class="ptl"><b>Grab-a-Bite!</b></h3> -->
        <p id="process-markdown16" style="color:pink;text-align:center;" class=" ">1/4</p>
        <p class="ptl pll prl pbl" id="process-markdown6" style="color:white;" class="ft-16">We would like to know your Residential Address. So that We inform you about deals when you are at home. </p>
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input id="searchInput" type="text" placeholder="Search" ng-model="location.formatted_address" ng-change="search()" style="width: 100%;">
                </label>
            </div>
        </div>
        <div on-tap="next()">
            <div style="color: white; background-color: #ff6f29; ">
                <p class="ptm pbm ft-14" style="text-align: center;"><b>Next</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>
