<div style="height:100px; background-color:white; width:100%;">
    <div ng-click="closeModal()" class="ft-16" style="color:black; margin-left:5px; margin-top:5px;"><i class="ion-close"></i>
    </div>
    <div style="margin-left:auto; margin-right:auto; width:203px;background-color:orange; height:32px; padding-top: 1px; padding-left: 1px; border-radius: 10px;  ">
        <div ng-click="locationFilter()" style="width:100px; height:30px; padding-top: 5px; background-color:orange;     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;">
            <p style="text-align:center;">Location</p>
        </div>
        <div ng-click="locationFilter()" style="width:100px; height:30px; background-color:white; margin-top: -30px; margin-left:101px;padding-top: 5px;     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;">
            <p style="text-align:center;">Price</p>
        </div>
    </div>
</div>
