<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <ion-content class="fd-bg">
            <div class="profile-sidemenu">
                <img ng-src="{{$root.user.profile[0].medium}}" class="fd-img fd-img-br">
            </div>
            <div class="fd-m-align ptl ft-18" style="color: white;">
                {{$root.user.name}}
            </div>
            <div class="fd-m-align ptl ft-18" style="color: white;">
                151 <b>Likes</b> across 121 <b>Posts</b>
            </div>
            <div class="ptl">
                <div class="pll ptl pbl ft-20 border-bottom" style="color: white;">
                    <i class="ion-person"></i><span style="margin-left: 24px;">My Account</span>
                </div>
                <div class="pll ptl pbl ft-20 border-bottom" style="color: white;">
                    <i class="ion-android-notifications"></i><span style="margin-left: 24px;">Notifications</span>
                </div>
                <div class="pll ptl pbl ft-20 border-bottom" style="color: white;">
                    <i class="ion-ios-location"></i><span style="margin-left: 24px;">Location History</span>
                </div>
                <div class="pll ptl pbl ft-20 border-bottom" style="color: white;">
                    <i class="ion-help-buoy"></i><span style="margin-left: 24px;">Support</span>
                </div>
                <div ng-click="$root.logout()" class="pll ptl pbl ft-20 border-bottom" style="color: white;">
                    <i class="ion-power"></i><span style="margin-left: 24px;">Logout</span>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
