<ion-view title="SignUp" hide-nav-bar="true" id="page3" style="background-color:#D0F6AB;" class=" ">
    <ion-content padding="true" style="background: url(img/1T2RKHUhT4wRM5uiiYTt_blurry-background-vii_00438789.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/zypVioHTReBwH9gvE67c_watermelon4.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="signUp-form6" class="list ">
            <label class="item item-input " id="signUp-input6">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input8">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input7">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input9">
                <span class="input-label">Re-enter password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a href="tel:" id="signUp-button14" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">Sign In</a>
    </ion-content>
</ion-view>