<ion-view title="welcome" hide-nav-bar="true" id="page9" style="background-color:#F4F5ED;" class=" ">
    <ion-content class="fd-bg" scroll="false"> 
        
            <!--         <div class="ptl">
            <img src="img/logo.png" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div> -->
            <div class="ft-24" style="color: white; text-align: center; margin-top: 150px;">
                <b>Food Monger</b>
            </div>
            <h3 id="welcome-heading9" style="color:#ff6f29;text-align:center;" class="ptl"><b>Welcome to Grab-a-Bite</b></h3>
            <p class="ptl pll prl pbl" id="welcome-markdown11" style="color:white;" class=" ">Kindly take our short
                <strong>survey</strong> so that we may serve you better!</p>
            <div class="ptl pll prl pbl">
                <p id="welcome-markdown12" style="color:white;font-size:20px;text-align:center;" class=" ">It won't take long.</p>
                <div class="ptl prl pll" on-tap="login()">
                    <div on-tap="$root.navigateState('process')" style="color: white; background-color: #ff6f29; ">
                        <p class="ptm pbm ft-14" style="text-align: center;"><b>Next</b></p>
                    </div>
                </div>
            </div>
        
    </ion-content>
</ion-view>
