<div ng-repeat="x in activities" style="width: 100%; position: relative; margin-bottom: 10px; background-color: rgba(255,255,255,  0.96);">
    <a on-tap="navigateToUser(x.user.id)">
        <div style="width: 50px; height: 58px; margin-left: 15px;padding-bottom: 5px; padding-top: 5px;">
            <img ng-src="{{x.user.media[0].small}}" class="fd-img fd-img-br border-style">
        </div>
    </a>
    <div on-tap="navigateToUser(x.user.id)" class="ft-16" style="position: absolute; width: 100%; top: 18px; left: 75px">
        <b>{{x.user.name}}</b>
    </div>
    <div style="width: 100%; height: 200px;">
        <img ng-src="{{x.feed.media[0].medium}}" class="fd-img">
    </div>
    <div class="pll prm pts pbm">
        <a on-tap="navigateToFoodPost(x.feed._id)">
            <p class="ft-18 ptx"><b>{{x.feed.remark}}</b></p>
        </a>
        <p class="pts"><span class="prs" ng-repeat="tag in x.feed.tag">#{{tag.desc || tag}}</span></p>
        <p class="pts"><i ng-if="x.feed.category != 'Select Category'" class="ion-soup-can-outline"></i><span ng-if="x.feed.category != 'Select Category'" class="plx prm">{{x.feed.category}}</span> <i class="ion-clock"></i><span class="plx prm">{{x.feed.createdTimeStamp | readableTime}}</span><i class="ion-ios-location"></i><span class="plx">{{x.feed.loc_name}}</span></p>
    </div>
    <div class="pll ptm pbm ft-18 border-style-top border-style-bottom">
        <p><i class="ion-ios-chatboxes-outline"></i><span on-tap="$root.comment()" class="plm ft-16">Comment</span>
            <span on-tap="$root.likeUnlikePost(x.feed.likes,x.feed._id,x)"><i class="{{x.isLiked == true ? 'ion-android-favorite like-color' : 'ion-android-favorite-outline'}} pll"></i><span  class="plm ft-16">Like</span></span><i class="ion-share pll"></i><span class="plm ft-16">Share</span><span ng-click="$root.showActionSheet(x.user.id, x.feed._id, $index)" style="float:right; " class="prl ft-20"><i class="ion-android-more-vertical"></i></span></p>
    </div>
    <div style="position: absolute; top: 100px; background-color: #ee3255; color: white; right: 0px; font-size: 32px;height: 40px;padding-top: 8px; padding-left: 8px; padding-right: 8px; padding-bottom: 8px;">
        $ {{x.feed.price}}
    </div>
    <!--             <div style="height: 50px; font-size: 40px; left: 50px;">
                <i class="ion-thumbsup"></i>
            </div> -->
</div>
